.drop {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: 600;
  gap: 3rem;
  margin-left: 2rem;
}
.NavHeaderComponent {
  font-size: xx-large;
  margin-right: 1rem;
}
.NavDropdown {
  font-size: larger;
  font-weight: 500;
  color: rgb(108, 111, 110);
  padding: 0.5rem;
  text-align: center;
}
